<header>

    <div class="header-main">
        <a href="/" class="logo"><div class="nav-box"></div><h1>Tastebuds</h1></a>
        
    <nav>
            <a href="/"><i class="fas fa-home"></i></a>
            <a href="/auth/signup">JOIN FREE</a>
            <a href="/auth/login">LOGIN</a>
            <a href="/auth/logout">LOGOUT</a>
            <a href="/profile">PROFILE</a>
            <a href="/search"><i class="fas fa-search"></i></a>
    </nav>

    </div>

</header>