<main class="homepage">


    <div class="home">
    <h2 class="home-title">Tastebuds</h2>
    <p>Delicious, free recipes.</p>
    <p>Spooning leads to forking, so please use condiments.</p>

    <form method="GET" action="/results" value="search">
    <input type="text" id="search-box" placeholder="Search recipes" name="box">
    <label for="Search"></label>
    <button type="submit"><i class="fas fa-search"></i></button><br><br>
    <p>Trending: hotdogs, kale, chicken wings</p>
    </form>
    </div>


    <!-- <form method="GET" action="/results" value="search">
        <input type="text" id="searchbox" name="search" cols="60" rows="5" placeholder="Search">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form> -->

    
</main>