<main class="homepage">


    <div class="home">
    <h2 class="home-title">Tastebuds</h2>
    <p>Delicious, free recipes.</p>
    <p>Spooning leads to forking, so please use condiments.</p>

    <form method="GET" action="/results" value="search">
        <input type="text" name="search" id="search-box" placeholder="Search recipes">
        <button type="submit" id="fas-search"><i class="fas fa-search"></i></button><br><br>
    <p>Trending: hotdogs, kale, chicken wings</p>
    </form>
    </div>

    
</main>