
<h2 class="text-center">Search Recipes</h2>
<div class="search-page">
<form method="GET" action="/results" value="search">
    <input type="text" name="search" placeholder="search">
    <button type="submit"><i class="fas fa-search"></i></button>
</form>

</div>
