<h2>Search Page</h2>

<form method="GET" action="/results" value="search">
    <input type="text" name="search" placeholder="search">
    <button type="submit"><i class="fas fa-search"></i></button>


</form>