* {
    box-sizing: border-box;
}

body, html {
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    padding: 20px;
}

a {
    text-decoration: none;
}

#recipe {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

 nav a:hover {
    text-decoration: none;
    color: whitesmoke;
    text-shadow:0px 0px 1px #fff;
}

header {
    background-color: #ffa111;
    width: 100vw;
    color: whitesmoke;
}

.header-main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    
}

.header-main a {
    text-decoration: none;
    margin-left: 100px;
    color: whitesmoke;
}

.header-main nav {
    margin: auto;
}

.homepage {
    background-image: url('https://i.imgur.com/7ZywK1X.jpg');
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-attachment: fixed;
    background-size: cover;
}

#search-box {
    font-size: 16px;
    width: 500px;
    height: 40px;
    border: none;
    border-color: transparent;
    background: transparent;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
    box-shadow: none;
}

#search-box:focus {outline:0;}

::placeholder {
    color: whitesmoke;
}

.home {
    margin: 200px 0 40px 120px;
    color: whitesmoke;
    font-size: 20px;
}

.home-title {
    font-family: 'Pacifico', cursive;
}

#fas-search {
    border: none;
    border-color: transparent;
    color: gray;
}

.search-page {
    text-align: center;
}

#fav-btn {
    font-size: 12px;
}



