<div class="container">
        <h2 class="text-center">Favorites</h2>
        <p class="text-center">
            <a href="/">HOME</a>
        </p>
</div>
    
<div class="favorites-box">
<% favorites.forEach(function(favorite) { %>
    <h2><a href="/favorites/<%= favorite.id %>"><%= favorite.title %></a></h2>
    <%= favorite.userId %>
    <form method="POST" action="/favorites/<%= favorite.id %>?_method=DELETE">
    <input hidden type="text" name="title" value="delete">
    <button class="btn btn-primary" type="submit">REMOVE</button>
    </form>
    <% }); %>
</div>